body {
  /* background-image: url("./images/wall.jpg"); */
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-blend-mode: color-burn;
  /* background-repeat: no-repeat; */
}

#header {
  background-color:black;
  color: white;
  font-style: italic;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
}

.links {
  float: right;
  padding-right: 20px;
}
.links button {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  margin: 10px;
  color: white;
}
.links button:hover {
  background-color: rgba(200, 200, 200, 0.9);
  color: black;
}
.links li {
  display: inline-block;
}
.links a {
  text-decoration: none;
  color: white;
}
#title {
  float: left;
  padding-left: 20px;
}

p {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
img{
    width: 400px;
    height:300px;
    float: left;
    padding: 2px;
}
h1,h2{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.column1{
    float: left;
    width: 40%;
}
.row1::after {
    content: "";
    clear: both;
    display: table;
}
.row1{
    padding:5% 3%
}
/* header{
    padding-bottom: 5%;
} */
